## Hardware Details
[GCP](https://cloud.google.com/) VM: [n1-highmem-8](https://cloud.google.com/compute/docs/machine-types#n1_machine_types) (8 vCPUs, 52 GB memory)

In [1]:
system "lscpu"

"Architecture:          x86_64"
"CPU op-mode(s):        32-bit, 64-bit"
"Byte Order:            Little Endian"
"CPU(s):                8"
"On-line CPU(s) list:   0-7"
"Thread(s) per core:    2"
"Core(s) per socket:    4"
"Socket(s):             1"
"NUMA node(s):          1"
"Vendor ID:             GenuineIntel"
"CPU family:            6"
"Model:                 63"
"Model name:            Intel(R) Xeon(R) CPU @ 2.30GHz"
"Stepping:              0"
"CPU MHz:               2300.000"
"BogoMIPS:              4600.00"
"Hypervisor vendor:     KVM"
"Virtualization type:   full"
"L1d cache:             32K"
"L1i cache:             32K"
"L2 cache:              256K"
"L3 cache:              46080K"
..

In [2]:
system "cat /proc/meminfo | head -n1"

"MemTotal:       53421588 kB"

## Basic functions

In [3]:
createTable: {[rowCount; op]
    .Q.gc[];
    :([] bucket: op rowCount?`2; qty: rowCount?100; risk: rowCount?10; weight: rowCount?2.)
  }

In [4]:
executeQuery: {[t]
    select NR: count 1b, TOTAL_QTY: sum qty, AVG_QTY: avg qty, 
        TOTAL_RISK: sum risk, AVG_QTY: avg risk, 
        W_AVG_QTY: weight wavg qty, W_AVG_RISK: weight wavg risk by bucket from t
    }

## Row Number 10k

In [5]:
t: createTable[10 * 1000; string]
\t:100 executeQuery[t]

137

In [6]:
t: createTable[10 * 1000; ::]
\t:100 executeQuery[t]

63

## Row Number 100k

In [7]:
t: createTable[100 * 1000; string]
\t:100 executeQuery[t]

1167

In [8]:
t: createTable[100 * 1000; ::]
\t:100 executeQuery[t]

367

## Row Number 1M

In [9]:
t: createTable[1000 * 1000; string]
\t:100 executeQuery[t]

19351

In [10]:
t: createTable[1000 * 1000; ::]
\t:100 executeQuery[t]

11390

## Row Number 10M

In [11]:
t: createTable[10 * 1000 * 1000; string]
\t:100 executeQuery[t]

248256

In [12]:
t: createTable[10 * 1000 * 1000; ::]
\t:100 executeQuery[t]

175874

## Row Number 100M
We execute the tests ten times only!

In [13]:
t: createTable[100 * 1000 * 1000; string]
\t:10 executeQuery[t]

277288

In [14]:
t: createTable[100 * 1000 * 1000; ::]
\t:10 executeQuery[t]

202938

## Row Number 1B
We execute the tests ten times only!

In [15]:
t: createTable[1000 * 1000 * 1000; ::]
\t:10 executeQuery[t]

2117894