In [1]:
\s

16i

In [2]:
createTable: {[tname; rowCount]
    .Q.gc[];
    tname set `bucket xasc ([] bucket: rowCount?`2; qty: rowCount?100h; risk: rowCount?10h; weight: rowCount?2.)
  }

In [3]:
executeParallel: {[tNames]
  :select bucket, NR, TOTAL_QTY, AVG_QTY: TOTAL_QTY % NR, 
    TOTAL_RISK, AVG_RISK: TOTAL_RISK % NR, W_AVG_QTY: W_SUM_QTY % TOTAL_WEIGHT, W_AVG_RISK: W_SUM_RISK % TOTAL_WEIGHT from 
    sum ?[; (); enlist[`bucket]!enlist `bucket; `NR`TOTAL_QTY`TOTAL_RISK`W_SUM_QTY`W_SUM_RISK`TOTAL_WEIGHT!((count; 1b); (sum; `qty); (sum; `risk); (wsum; `weight; `qty); (wsum; `weight; `risk); (sum; `weight))] peach tNames;
  }

In [4]:
N: 16;
tableNamePrefix: "t";
tNames: `$tableNamePrefix ,' string til N

## 10 000

In [5]:
rowNumber: 10 * 1000;
createTable[; rowNumber div N] each tNames;
\t:100 executeParallel tNames

280

## 100 000

In [6]:
rowNumber: 100 * 1000;
createTable[; rowNumber div N] each tNames;
\t:100 executeParallel tNames

314

## 1 000 000

In [7]:
rowNumber: 1000 * 1000;
createTable[; rowNumber div N] each tNames;
\t:100 executeParallel tNames

895

## 10 000 000

In [8]:
rowNumber: 10 * 1000 * 1000;
createTable[; rowNumber div N] each tNames;
\t:100 executeParallel tNames

8993

## 100 000 000

In [9]:
rowNumber: 100 * 1000 * 1000;
createTable[; rowNumber div N] each tNames;

In [10]:
\t:10 executeParallel tNames

10695

## 1 000 000 000

In [11]:
rowNumber: 1000 * 1000 * 1000;
createTable[; rowNumber div N] each tNames

`t0`t1`t2`t3`t4`t5`t6`t7`t8`t9`t10`t11`t12`t13`t14`t15

In [12]:
\t:10 executeParallel tNames

71300