In [1]:
library(data.table)
library(stringi)

In [2]:
createTable <- function(rowCount) {
    gc()
    data.table(
    bucket = stri_rand_strings(rowCount, 2, pattern = "[a-z]"),
    qty = sample(1:100, rowCount, replace = TRUE),
    risk = sample(1:10, rowCount, replace = TRUE),
    weight = runif(rowCount, 0, 2)
    )
}

In [3]:
executeQuery <- function(t) {
    t[, .(
    NR = .N,
    TOTAL_QTY = sum(qty), AVG_QTY = mean(qty),
    TOTAL_RISK = sum(risk), AVG_RISK = mean(risk),
    WEIGHTED_QTY = weighted.mean(qty, weight),
    WEIGHTED_RISK = weighted.mean(risk, weight)
    ), by = bucket]
}

## 10 000

In [4]:
t <- createTable(10 * 1000)

In [5]:
system.time(for(i in 1:100) executeQuery(t))

   user  system elapsed
  5.403   0.005   1.374

## 100 000

In [6]:
t <- createTable(100 * 1000)

In [7]:
system.time(for(i in 1:100) executeQuery(t))

   user  system elapsed
  7.829   0.057   2.461

## 1 000 000

In [8]:
t <- createTable(1000 * 1000)

In [9]:
system.time(for(i in 1:100) executeQuery(t))

   user  system elapsed
 20.235   0.056  13.106

## 10 000 000

In [10]:
t <- createTable(10 * 1000 * 1000)

In [11]:
system.time(for(i in 1:100) executeQuery(t))

   user  system elapsed
147.614   2.795 119.667

# 100 000 000
We execute the tests ten times only!

In [12]:
t <- createTable(100 * 1000 * 1000)

In [13]:
system.time(for(i in 1:10) executeQuery(t))

   user  system elapsed
156.215   4.543 140.575

## 1 000 000 000
We execute the tests ten times only!

In [ ]:
t <- createTable(1000 * 1000 * 1000)

In [ ]:
system.time(for(i in 1:10) executeQuery(t))