## Hardware Details
[GCP](https://cloud.google.com/) VM: [n1-highmem-16](https://cloud.google.com/compute/docs/machine-types#n1_machine_types) (16 vCPUs, 104 GB memory)

In [1]:
cat(system("lscpu", intern=TRUE), sep='\n')

Architecture:          x86_64
CPU op-mode(s):        32-bit, 64-bit
Byte Order:            Little Endian
CPU(s):                16
On-line CPU(s) list:   0-15
Thread(s) per core:    2
Core(s) per socket:    8
Socket(s):             1
NUMA node(s):          1
Vendor ID:             GenuineIntel
CPU family:            6
Model:                 63
Model name:            Intel(R) Xeon(R) CPU @ 2.30GHz
Stepping:              0
CPU MHz:               2300.000
BogoMIPS:              4600.00
Hypervisor vendor:     KVM
Virtualization type:   full
L1d cache:             32K
L1i cache:             32K
L2 cache:              256K
L3 cache:              46080K
NUMA node0 CPU(s):     0-15
Flags:                 fpu vme de pse tsc msr pae mce cx8 apic sep mtrr pge mca cmov pat pse36 clflush mmx fxsr sse sse2 ss ht syscall nx pdpe1gb rdtscp lm constant_tsc rep_good nopl xtopology nonstop_tsc eagerfpu pni pclmulqdq ssse3 fma cx16 pcid sse4_1 sse4_2 x2apic movbe popcnt aes xsave avx f16c rdrand hypervisor lahf_lm abm invpcid_single ssbd ibrs ibpb stibp fsgsbase tsc_adjust bmi1 avx2 smep bmi2 erms invpcid xsaveopt arat md_clear spec_ctrl intel_stibp arch_capabilities

In [2]:
cat(system("cat /proc/meminfo | head -n1", intern=TRUE), sep='\n')

MemTotal:       107091256 kB

## Basic functions

In [3]:
library(data.table)
library(stringi)
library(microbenchmark)

In [4]:
createTable <- function(rowCount) {
    gc()
    t <- data.table(
        bucket = factor(
            sample(1:26^2, rowCount, replace = TRUE),
            levels = 1:26^2,
            labels = apply(expand.grid(letters, letters), FUN = paste, MARGIN = 1, collapse = '')),
        qty = sample(1:100, rowCount, replace = TRUE),
        risk = sample(1:10, rowCount, replace = TRUE),
        weight = runif(rowCount, 0, 2)
    )
    setkey(t, bucket)
}

In [5]:
executeQuery <- function(t) {
    t[, .(
        NR = .N,
        TOTAL_QTY = sum(qty), AVG_QTY = mean(qty),
        TOTAL_RISK = sum(risk), AVG_RISK = mean(risk),
        WEIGHTED_QTY = weighted.mean(qty, weight),
        WEIGHTED_RISK = weighted.mean(risk, weight)
    ), by = bucket]
}

In [6]:
setDTthreads(threads = 1, restore_after_fork = FALSE)

## 10k

In [7]:
t <- createTable(10 * 1000)

In [8]:
summary(microbenchmark(executeQuery(t), times = 100))

  expr            min      lq      mean     median   uq       max      neval
1 executeQuery(t) 9.215881 9.51229 10.51557 9.643893 10.17514 22.44161 100

## 100k

In [9]:
t <- createTable(100 * 1000)

In [10]:
summary(microbenchmark(executeQuery(t), times = 100))

  expr            min      lq       mean     median  uq       max      neval
1 executeQuery(t) 13.97525 14.21073 16.46012 14.4548 14.74374 52.61149 100

## 1M

In [11]:
t <- createTable(1000 * 1000)

In [12]:
summary(microbenchmark(executeQuery(t), times = 100))

  expr            min      lq       mean    median   uq       max      neval
1 executeQuery(t) 59.05903 60.71971 63.4078 62.79056 64.58995 119.4598 100

## 10M

In [13]:
t <- createTable(10 * 1000 * 1000)

In [14]:
summary(microbenchmark(executeQuery(t), times = 100))

  expr            min     lq       mean     median   uq       max      neval
1 executeQuery(t) 475.311 480.1791 490.1689 482.3154 484.3738 1178.897 100

# 100M
We execute the tests ten times only!

In [15]:
t <- createTable(100 * 1000 * 1000)

In [16]:
summary(microbenchmark(executeQuery(t), times = 10))

  expr            min      lq       mean     median   uq       max      neval
1 executeQuery(t) 4.907817 4.914738 5.515752 4.970371 6.366853 7.576805 10

## 1B
We execute the tests ten times only!

In [17]:
t <- createTable(1000 * 1000 * 1000)

In [18]:
summary(microbenchmark(executeQuery(t), times = 10))

  expr            min      lq       mean     median   uq       max      neval
1 executeQuery(t) 50.35876 50.63643 52.91862 51.33556 52.51579 66.78726 10